<div class="binnacleConteiner">
    <div class="binncle-header">
        <span class="user-name">
            <p>Dia a dia</p>
        </span>
    </div>

    <!-- Contenido central -->
    <div class="binnacle-content">
        <p>
            Querido diario la escuela me esta matando, creo que me va llevar la chingada este semestre :c
            pero x somos chavos, solo espero no reprobar o lloro TnT
            fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        </p>
    </div>

    <!-- Pie -->
    <div class="binnacle-menu">
        <a><img class="expantion" src="../../../../../assets/icons/icon-expandir.png"></a>
        <a><img class="modify" src="../../../../../assets/icons/icon-editar.png"></a>
        <a><img class="delte" src="../../../../../assets/icons/icon-eliminar.png"></a>
    </div>
</div>