<div *ngIf="isModalVisible" class="overlay" (click)="closeModal()">
    <div class="modal" (click)="$event.stopPropagation()">
        <div class="post-container">
            <!-- Encabezado -->
            <div class="post-header">
                <input [(ngModel)]="content" name="content" id="contentPost" type="text"
                    placeholder="¿Quieres compartir algo?">
            </div>

            <!-- Pie -->
            <div class="post-footer">
                <button (click)="submitBinnacle()">Enviar</button>
            </div>


        </div>
    </div>
</div>

<div class="binnacleConteiner">

    <div class="add">
        <button class="button.add" (click)="openModal()">
            Añadir
        </button>
    </div>
    <div>
        <app-binnacle-post *ngFor="let dataBinnacle of binnacle " [dataBinnacle]="dataBinnacle"> </app-binnacle-post>
    </div>
</div>