<body>
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="" alt="img-avatar">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
                <button type="button" class="boton-portada" (click)="navigateToProfileSettings()">
                    <i class="far fa-image"></i> Editar Perfil
                </button>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Nombre del usuario que este registrado</h3>
                <!---->
            </div>
            <!-- <div class="perfil-usuario-footer">
            </div> -->
            <div class="publicar-estado">
                <div class="publicar-header">
                    <img class="avatar-publicar" src="" alt="avatar">
                    <textarea class="input-estado" placeholder="¿Cómo te sientes hoy?" rows="1"></textarea>
                </div>
                <div class="publicar-footer">
                    <select class="estado-animo">
                        <option value="">Estado</option>
                        <option value="feliz">😊 Feliz</option>
                        <option value="triste">😢 Triste</option>
                        <option value="emocionado">🤩 Emocionado</option>
                        <option value="cansado">😴 Cansado</option>
                        <option value="enojado">😡 Enojado</option>
                    </select>
                    <button type="button" class="boton-publicar">Publicar</button>
                </div>
            </div>
        </div>
    </section>
</body>

    







