body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  background-color: var(--background-color);
/* Color de fondo de la página */
}

#login-container {
  width: 400px;
  height: 500px;
  border-radius: 30px;
  background: rgba(246, 114, 128, 0.3); /* Fondo con opacidad */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar el marco */
  display: flex;
  flex-direction: column;
  padding: 20px; /* Espaciado interno */
  opacity: 1; /* Asegúrate de que sea visible */
}




h1{
  font-family: Alexandria;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.88px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);


}

#button-inicio {
  width: 248px;
  height: 43px;
  border-radius: 10px;
  color: white;
  background-color: rgba(246, 114, 128, 1);
  border: none;
  cursor: pointer;
}

/* Botón "Crear Cuenta" */
#button-crear {
  width: 248px;
  height: 43px;
  border-radius: 10px;
  color: white;
  background-color: rgba(246, 114, 128, 1);
  border: none;
  cursor: pointer;
}

.button-group {
  display: flex; /* Habilita Flexbox */
  flex-direction: column; /* Alinea los botones en columna */
  gap: 10px; /* Espaciado entre los botones */
  margin-top: 20px; /* Espacio extra encima del grupo de botones */
  align-items: center; /* Centra los botones horizontalmente */
}
input{
  width: 248px;
  height: 43px;
  border-radius: 10px;
  border: none;
  cursor: pointer;


}

.txtbx-group{
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-top: 20px; 
  align-items: center; 
}

.line-decorator {
  border: none;
  border-top: 1px solid white;
  width: 60%;
  margin: 10px auto;
}