/* Contenedor general para la estructura */
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

}



/* Estilo para la sección de contenido (Main y Sidebar) */
.content-wrapper {
  display: flex;
  flex: 1;
  height: 100%;

  /* Ocupa toda la altura restante */
}

/* Sidebar (a la izquierda) */
app-sidebar {
  flex: .4;
  /* Sidebar ocupa menos espacio */
  padding: 15px;
  background-color: var(--background-color);
  overflow-y: auto;
  position: relative;
  border-right: 1px solid white;

  /* Necesario para posicionar el pseudo-elemento */
  /* Permite scroll
  en el Sidebar si hay más contenido */
}

/* Main Area */
.main {
  flex: 3;
  /* Hace que Main ocupe más espacio */
  padding: 20px;
  background-color: var(--background-color);
  /* Color de fondo claro */
  overflow-y: auto;
  /* Permite hacer scroll si es necesario */
  margin-left: 10px;
  /* Espacio entre Main y Sidebar */
  position: relative;
}

/* Estilo para el Header y Footer */
app-header,
app-footer {
  width: 100%;
  background-color: var(--background-color);
  color: var(--background-color);
  padding: 0% 0;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer: Opcional, con el mismo estilo de Header */
app-footer {
  background-color: #333;
  color: var(--font-color);
}

/* Responsividad para la línea vertical */
@media (max-width: 768px) {
  app-sidebar::after {
    width: 1px;
    /* Reduce el grosor en pantallas medianas */
  }
}

@media (max-width: 480px) {
  app-sidebar {
    flex: 0.6;
    /* Sidebar ocupa un 60% en pantallas pequeñas */
    padding: 10px;
  }

  app-sidebar::after {
    display: none;
    /* Oculta la línea en pantallas muy pequeñas */
  }
}



