<header class="header">
  <div class="head">
    <nav class="nav">
      <h2 class="logo">Well<span>Nest</span></h2>
      <ul class="nav-apartado">
        <li>
          <a
            routerLink="social/home"
            routerLinkActive="active"
            (click)="changeToSocial()"
            [ngClass]="{'select-text-color': space, 'normal-text-color': !space}"
          >
            Social
          </a>
        </li>
        <li>
          <a
            routerLink="personal/binnacle"
            routerLinkActive="active"
            (click)="changeToPersonal()"
            [ngClass]="{'select-text-color': !space, 'normal-text-color': space}"
          >
            Personal
          </a>
        </li>
      </ul>
    </nav>
  </div>

</header>
