<body>
    <section class="perfil-edicion">
        <h1 class="titulo">Editar Perfil</h1>
        <form action="#" method="post" class="formulario">
            <div class="campo">
                <label for="nombre-real">Nombre Real:</label>
                <input type="text" id="nombre-real" name="nombre-real" placeholder="Introduce tu nombre real" value="Abraham Elias Rodriguez Gallegos" readonly>
            </div>
            <div class="campo">
                <label for="nombre-usuario">Nombre de Usuario:</label>
                <input type="text" id="nombre-usuario" name="nombre-usuario" placeholder="Introduce tu nombre de usuario" value="eliasaerg" readonly>
            </div>
            <div class="campo">
                <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fecha-nacimiento" name="fecha-nacimiento" value="2001-16-03" readonly>
            </div>
            <div class="campo">
                <label for="nueva-contrasena">Nueva Contraseña:</label>
                <input type="password" id="nueva-contrasena" name="nueva-contrasena" placeholder="Introduce tu nueva contraseña" required>
            </div>
            <div class="campo">
                <label for="confirmar-contrasena">Confirmar Contraseña:</label>
                <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" placeholder="Repite tu nueva contraseña" required>
            </div>
            <button type="submit" class="boton-aplicar">Aplicar Cambios</button>
        </form>
    </section>
</body>
