<div class="profile-Card">
    <div class="profile-foto">
        <img src="../../../../../assets/icons/icon-perfil.png" width="50px" height="50px">
    </div>

    <div class="profile-Content">
        <span class="name">Nombre {{data.nickname}}</span>
        <div>
            <span>Seguidores: {{data.following.length}} </span>
            <span>Seguidos: {{data.following.length}} </span>
        </div>

    </div>
    <div class="button-Follow">
        <button class="boton-seguir">Seguir</button>
    </div>
</div>ñ