<aside class="sidebar">
  <nav class="sidebar-nav">

    <div class="SocialOptions" *ngIf="space; else elseBlock">
      <ul>
        <li><a class="home" routerLink="social/home" routerLinkActive="active"><img
              src="../../../../assets/icons/icon-inicio.png" width="21" height="21"><span>Inicio</span></a></li>
        <li><a class="search" routerLink="social/search" routerLinkActive="active">
            <img src="../../../../assets/icons/icon-busqueda.png" width="21" height="21">Buscar</a></li>
        <li><a class="profile" routerLink="social/profile" routerLinkActive="active"><img
              src="../../../../assets/icons/icon-perfil.png" width="23" height="23">Perfil</a></li>
        <li class="state"><a routerLink="social/state" routerLinkActive="active" (click)="openModal()"><img
              src="../../../../assets/icons/icon-estado.png" width="21" height="21">Estado</a></li>
      </ul>
    </div>

    <ng-template #elseBlock>
      <div class="PersonalOptions">
        <ul>
          <li><a routerLink="personal/binnacle" routerLinkActive="active"><img
                src="../../../../assets/icons/icon-bitacora.png" width="21" height="21">Bitácora</a></li>
          <li><a routerLink="personal/goals" routerLinkActive="active"><img
                src="../../../../assets/icons/icon-notas.png">Metas</a></li>
        </ul>

      </div>
    </ng-template>


  </nav>
</aside>