.register-form {
  width: 100%;
  max-width: 400px; /* Limitar el ancho máximo */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  background-color: var(--background-color);
/* Color de fondo de la página */
}

#register-container {
  width: 500px;
  height: 550px;
  border-radius: 30px;
  background:var(--complementary-color-opacy);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 1;
}
#button-register {
  width: 248px;
  height: 43px;
  border-radius: 10px;
  color: white;
  background-color: var(--button-colorRegister);
  border: none;
  cursor: pointer;
}

.register-form form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  font-size: 14px;
  margin-bottom: 6px;
  color: #333;
}

.register-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.register-form input:focus {
  border-color: #007bff; /* Cambia el borde cuando el input está en foco */
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

.register-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-form button:hover {
  background-color: #0056b3; /* Color de fondo en el hover */
}

.register-form button:disabled {
  background-color: #cccccc; /* Color de fondo si el botón está deshabilitado */
  cursor: not-allowed;
}

.register-form .error-message {
  color: red;
  font-size: 12px;
  margin-top: -10px;
}

h2{
  font-family: Alexandria;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);

}

.txtbx-group{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}
#button-login {
  width: 248px;
  height: 43px;
  border-radius: 10px;
  color: white;
  background-color: var(--button-colorRegister);
  border: none;
  cursor: pointer;
}