<div class="post-container">
    <!-- Encabezado -->
    <div class="post-header">
      <input [(ngModel)]="mood" name="content" id="contentPost" type="text" placeholder="¿Quieres compartir algo?">
    </div>
  
    <!-- Contenido central -->
    <div class="post-content">
      <legend><b>Estado:</b></legend>
      <input [(ngModel)]="postContent" id="moodPost" type="text" placeholder="¿Cómo te sientes?">
    </div>
  
    <!-- Pie -->
    <div class="post-footer">
      <button (click)="submitPost()">Enviar</button>
    </div>
  </div>
  