<div class="post-container">
    <!-- Encabezado -->
    <div class="post-header">
        <input cols="40" name="content" id="contentPost" type="text" placeholder="Quieres compartir algo?">
      </div>
  
    <!-- Contenido central -->
    <div class="post-content">
        <legend><b>Estado:</b></legend>
        <input cols="40" id="moodPost" type="text" placeholder="Como te sientes?">
          
    </div>
  
    <!-- Pie -->
    <div class="post-footer">
        <button type="submit">Enviar</button>
    </div>
</div>
